:root {
    --custom-shadow: 0px 0px 5px;
    --backgrownd-grey: rgb(40, 45, 40);
    --light-green: rgb(215, 245, 215);
    --focus-yellow: rgb(234, 244, 53);
    --dark-green: rgb(30, 35, 30);

}

main {
    background-image: url("./assets/hexagonTexture.png");
}

section {
    height: calc(100vh - 100px);
}

body {
    background-color: var(--backgrownd-grey);


}


@import "tailwindcss";